<p-growl baseZIndex="1" [(value)]="msgs"></p-growl> 
<div [@routerTransition]>
  <!--<app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>-->

  <div class="row">
    <div class="col-lg-6">

      <form [formGroup]="haulerUserForm" role="form" (submit)="addHaulerUser()">
        <fieldset class="form-group">
          <label>Full Name</label>
          <input formControlName="full_name" class="form-control" placeholder="Full Name">
          <p *ngIf="haulerUserForm.controls['full_name'].hasError('required') && isSubmited" class="error-msg">Full name is required</p>
        </fieldset>

        <fieldset class="form-group">
          <label>E-mail</label>
          <input formControlName="email" type="email" class="form-control" placeholder="E-mail">
          <p *ngIf="(haulerUserForm.controls['email'].hasError('required')||haulerUserForm.controls['email'].hasError('email')) && isSubmited"
            class="error-msg">
            Enter a valid email address
          </p>
        </fieldset>

        <fieldset class="form-group">
          <label>Company Name</label>
          <select formControlName="company_name" class="form-control">
            <option value="null" [selected]=true>Please select</option>
            <option *ngFor="let c of haulerArr" [ngValue]="c">{{c.company_name}}</option>
          </select>
          <p *ngIf="haulerUserForm.controls['company_name'].hasError('required') && isSubmited" class="error-msg">Company name is required</p>
        </fieldset>

        <fieldset class="form-group">
          <label>Phone No</label>
          <input formControlName="phone_no" ngxPhoneMask class="form-control" placeholder="Phone No.">
          <p *ngIf="haulerUserForm.controls['phone_no'].hasError('required') && isSubmited" class="error-msg">Phone No. is required</p>
        </fieldset>

        <fieldset class="form-group">
          <label>Password</label>
          <input formControlName="password" type="password" class="form-control" placeholder="Password">
          <p *ngIf="haulerUserForm.controls['password'].hasError('required') && isSubmited" class="error-msg">Password is required</p>
        </fieldset>

        <button type="submit" class="btn btn-secondary">Save</button>
        <button type="reset" class="btn btn-secondary">Reset</button>

      </form>

    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
</div>