<p-growl baseZIndex="1" [(value)]="msgs"></p-growl>
<div class="login-page" [@routerTransition]>
    <div class="row">
      <div class="col-md-4 push-md-4">
        <img src="assets/images/logo.png" width="150px" class="user-avatar" />
        <h1>Water Disposal System</h1>
        <form [formGroup]="resetPasswordForm" (submit)="resetPassword()">
          <div class="form-content">
            <div class="form-group">
                Enter new Password.
              <input type="password" class="form-control input-underline input-lg" formControlName="password" placeholder="Type here">
            </div>
            <!-- <span class="text-danger">
              <span *ngIf="resetPasswordForm.controls['email'].hasError('required') && isSubmited">
                Please Enter your new Password.
              </span>
            </span> -->
          </div>
          <button type="submit" class="btn rounded-btn">submit</button>
        </form>
      </div>
    </div>
  </div>